/*
Theme Name: Tom Theme
Theme URI: http://likipe.se
Author: Vida - Likipe
Author URI: http://likipe.se
Description: Des...
Version: 1.1
*/

/* ------------------------------- RESET ------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a , a:hover , a:active , a:focus {
    color: #000;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

/* ------------------------------- STRUCTURE ------------------------------- */
.wrapper {
	padding: 0 24px;
	background-color: #fff;
}
.site-header , .site-footer {
	padding: 24px 0;
}

/* ------------------------------- HEADER ------------------------------- */
.site-title {
	text-align: center;
}

/* ------------------------------- NAVIGATION ------------------------------ */
.top-nav {
	margin-top: 24px;
	text-align: center;
}
.top-menu {
	display: none;
	text-decoration: underline;
}
.top-menu li {
	margin-top: 24px;
}
/* ------------------------------- MEDIA QUERIES --------------------------- */
/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	#btn_toggle_menu {
		display: none;
	}
	.top-menu {
		display: inline-block;
		border-bottom: 1px solid #ededed;
		border-top: 1px solid #ededed;
		text-align: left;
		width: 100%;
	}
	.top-menu li {
		display: inline-block;
		margin: 0 40px 0 0;
	}
	.top-menu li a {
		display: inline-block;
		line-height: 40px;
	}
	.site-title {
		text-align: left;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
	body {
		background-color: #e6e6e6;
	}
	.wrapper {
		max-width: 960px;
		margin: 48px auto;
		box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
		padding: 0 40px;
	}
}